<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPonDistribution" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lake/TDS/MetaSolve.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPonDistribution" contract="MetaSolveWebService.IPonDistribution"
                name="BasicHttpBinding_IPonDistribution" />
        </client>
    </system.serviceModel>
</configuration>